body{
    width: 100%;
    height: auto;
    
}
.logo {
    display: flex;
    flex-direction: row;
}
.imagen {
    width: 110px;
}

.nombre {
    font-family: "Times New Roman", Times, cursive;
    color: brown;
    font-style: italic;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 180px;
    padding-left: 0.5%;
    padding-right: 0.5%;

}

.botonera nav{
	float: right;
    
}
	.botonera ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		padding-right: 20px;
        float: right;
	}
	
		.botonera ul li {
			display: inline-block;
			line-height: 80px;
            
		}
			
			.botonera ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
                color: black;
			}
			
				.botonera ul li a:hover {
					background: antiquewhite;
				}

.presentacion {
    display: flex;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: antiquewhite;
    padding: 0.5% 0.8% 0.5% 0.8%;
}
.div-vacio{
    width: 30%;
}
#mifoto{
    padding: 30px;
}
#mifoto img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
    border-radius:50%;
}
.sub-titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.texto-normal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.botonera2 nav{
    float: left;
    height: 50px;
}

#habilidades{
    height: 300px;
    width: 100%;
}
#hobbies{
    width: 100%;
    background-color: antiquewhite;
    height: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sub-titulo2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.div-tit-seccion{
    width: 100%;
    height: 24%;
}
.div-img-seccion{
    display: flex;
    justify-content: space-evenly;
}
.div-img-seccion div{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    padding: 30px;
    align-items: center;
}

.div-img-seccion div img{
    width: 70px;
    height : 70px;
    max-height: 100%;
    max-width: 100%;
}
#formacion{
    height: 300px;
    width: 100%;
    background-color: white;
    padding-top: 5px;
}
#texto-formacion{
    text-align: center;
}
#proyectos{
    height: auto;
    width: 100%;
    background-color: antiquewhite;
    padding-top: 5px;
}

.tabla-img{
    width: 400px;
}
#tabla{
   margin-left: 8%;
   margin-right: 8%;
}
#tabla td{
    padding: 10px;
}
#footer{
        height: auto;
        width: 100%;
        background-color: white;
}
.form-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#btn-enviar{
    border-radius: 25%;
    width: 80px;
    height: 30px;
    margin-bottom:8px ;
}
.estilo-input{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}